<%- include('portals/header') %>
<%- include('portals/manu') %>



<section class="col-12 p-2 col-lg-5 header-animation px-4 bg-danger m-auto" id="dopost">
<%- include('portals/createpost') %>
</section>


<section class="" id="allthing">
    <a class="px-4 py-2 animation-one bg-danger text-light text-decoration-none text-bolder text-center d-block col--lg-5 col-12 m-auto fs-4 rounded" href="/explormore/<%= myself._id %>">Talk to rendom people</a>
    <div class="text-light animation-one" id="home">
        <%- include('portals/home') %>
    </div>
    <div class="text-light animation-one desnot" id="profile">
        <%- include('portals/profile') %>
    </div>
    <div class="text-light animation-one desnot" id="friends">
        <%- include('portals/friend') %>
    </div>
    <div class="text-light animation-one desnot" id="message">
        <%- include('portals/message') %>
    </div>
    <div class="text-light animation-one desnot" id="seting">
        <%- include('portals/setting') %>
    </div>
    <div class="text-light animation-one desnot" id="search">search</div>

    <div class="text-light animation-one desnot" id="about">
        <%- include('portals/about') %>
    </div>
    <div class="text-light animation-one desnot" id="help">
        <%- include('portals/help') %>
    </div>
    <div class="text-light animation-one desnot" id="report">
        <%- include('portals/report') %>
    </div>
</section>



<script>


function homefunt() {
    home.style.display="block";
    profile.style.display="none";
    friends.style.display="none";
    message.style.display="none";
    seting.style.display="none";
    search.style.display="none";
    about.style.display="none";
    help.style.display="none";
    report.style.display="none";
}
function profilefunt() {
    home.style.display="none";
    profile.style.display="block";
    friends.style.display="none";
    message.style.display="none";
    seting.style.display="none";
    search.style.display="none";
    about.style.display="none";
    help.style.display="none";
    report.style.display="none";
}
function friendfunt(friendrequestsall) {
    home.style.display="none";
    profile.style.display="none";
    friends.style.display="block";
    message.style.display="none";
    seting.style.display="none";
    search.style.display="none";
    about.style.display="none";
    help.style.display="none";
    report.style.display="none";
}
function messagefunt() {
    home.style.display="none";
    profile.style.display="none";
    friends.style.display="none";
    message.style.display="block";
    seting.style.display="none";
    search.style.display="none";
    about.style.display="none";
    help.style.display="none";
    report.style.display="none";
}
function settingfunt() {
    home.style.display="none";
    profile.style.display="none";
    friends.style.display="none";
    message.style.display="none";
    seting.style.display="block";
    search.style.display="none";
    about.style.display="none";
    help.style.display="none";
    report.style.display="none";
}
function searchfunt() {
    home.style.display="none";
    profile.style.display="none";
    friends.style.display="none";
    message.style.display="none";
    seting.style.display="none";
    search.style.display="block";
    about.style.display="none";
    help.style.display="none";
    report.style.display="none";
}
function aboutfunt() {
    home.style.display="none";
    profile.style.display="none";
    friends.style.display="none";
    message.style.display="none";
    seting.style.display="none";
    search.style.display="none";
    about.style.display="block";
    help.style.display="none";
    report.style.display="none";
}
function helpfunt() {
    home.style.display="none";
    profile.style.display="none";
    friends.style.display="none";
    message.style.display="none";
    seting.style.display="none";
    search.style.display="none";
    about.style.display="none";
    help.style.display="block";
    report.style.display="none";
}
function reportfunt() {
    home.style.display="none";
    profile.style.display="none";
    friends.style.display="none";
    message.style.display="none";
    seting.style.display="none";
    search.style.display="none";
    about.style.display="none";
    help.style.display="none";
    report.style.display="block";
}

function clickpostimginputimage() {
    postimgup.click();
}


function openpostimageupp() {
    const filee = postimgup.files[0];
    if (filee) {
        const reader = new FileReader();
        reader.addEventListener('load', () => {
            prevewimgpost.src = reader.result;
        });
        reader.readAsDataURL(filee);
    } else {
        prevewimgpost.src = "";
    }
    openpostupimg.style.display= "none"
}

function showpostelement () {
    dopost.style.display= "block"
    allthing.style.display= "none"
}

function hidepostelement() {
    dopost.style.display= "none"
    allthing.style.display= "block"
}

    
</script>

<script src="/socket.io/socket.io.js"></script>
<script>
        let socket = io()
</script>
